/* Services page */
.services_page .breadcrumbs {
  position: absolute;
  z-index: 10;
}
.hero_section {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 955px;
  color: #fff;
}

.hero_bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.hero_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

.hero_content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  /* height: 100%; */
  height: calc(100% - 290px);
}

.hero_title {
  color: white;
  font-size: clamp(
    50px,
    calc(50px + (70 - 50) * ((100vw - 768px) / (2440 - 768))),
    70px
  );
  font-family: "Montserrat", sans-serif;
}

.services_block {
  margin-top: -290px;
  padding-bottom: 120px;
  position: relative;
}

.services_block .container_big {
  position: relative;
}

.services_page_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* position: relative; */
}

.services_block .btn_lets_talk {
  position: absolute;
  /* right: -5px; */
  right: 10px;
  /* top: -30px; */
}

.service_page_item {
  background-color: var(--black);
  padding: 75px 60px;
  display: grid;
  grid-template-rows: minmax(300px, auto) 1fr 30px;
  position: relative;
}

.service_page_item .services_title {
  margin-bottom: 30px;
}

.service_page_item .services_content {
  color: white;
  margin-left: 0;
}

.service_page_item .services_item_link {
  grid-column: span 1;
}

.service_page_item .services_item_link img {
  filter: unset;
}

.service_page_item .services_title h2 {
  font-size: clamp(
    10px,
    calc(10px + (126 - 10) * ((100vw - 320px) / (2440 - 320))),
    126px
  );
}

@media (hover: hover) and (pointer: fine) {
  .service_page_item:hover {
    background-color: var(--accent);
  }

  .service_page_item:hover .services_title h2,
  .service_page_item:hover .services_title h3 {
    color: white;
  }
}

.service_page_item:active {
  background-color: var(--accent);
}

.service_page_item:active .services_title h2,
.service_page_item:active .services_title h3 {
  color: white;
}

.service_page_item:active::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #f33a3d59;
  backdrop-filter: blur(3px);
  z-index: 10;
}

@media (max-width: 2440px) {
  .services_block {
    padding-bottom: calc(30px + (120 - 30) * ((100vw - 320px) / (2440 - 320)));
  }

  .service_page_item {
    padding-top: calc(30px + (75 - 30) * ((100vw - 320px) / (2440 - 320)));
    padding-bottom: calc(30px + (75 - 30) * ((100vw - 320px) / (2440 - 320)));
    padding-left: calc(20px + (60 - 20) * ((100vw - 320px) / (2440 - 320)));
    padding-right: calc(20px + (60 - 20) * ((100vw - 320px) / (2440 - 320)));
  }

  .service_page_item .services_text {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (2440 - 320)));
  }

  .service_page_item .services_title h3 {
    font-size: calc(25px + (70 - 25) * ((100vw - 768px) / (2440 - 768)));
  }

  .service_page_item .arrow_link img {
    width: calc(16px + (35 - 16) * ((100vw - 320px) / (2440 - 320)));
  }
}

@media (max-width: 1700px) {
  .service_page_item {
    grid-template-rows: minmax(250px, auto) 1fr 30px;
  }
}

@media (max-width: 1400px) {
  .services_page_content {
    gap: 20px;
  }
  .service_page_item {
    grid-template-rows: minmax(200px, auto) 1fr 20px;
  }
}

@media (max-width: 991px) {
  /* .services_page_content{
    gap: 15px;
  }
  .service_page_item{
    grid-template-rows: minmax(150px, auto) 1fr 20px;
  } */
}

@media (max-width: 991px) {
  .services_page .breadcrumbs {
    position: static;
  }

  .services_page_content {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .service_page_item .services_content {
    display: block;
  }

  .service_page_item {
    grid-template-rows: 1fr;
  }

  .service_page_item .services_title h2 {
    font-size: 50px;
  }

  .service_page_item .services_title h3 {
    font-size: 35px;
  }
  .hero_section {
    display: none;
  }

  .services_block {
    margin-top: 0;
  }

  .service_page_item .arrow_link img {
    width: 26px;
  }
}

@media (max-width: 768px) {
  .service_page_item:active::before {
    content: unset;
  }

  .service_page_item .services_content {
    display: none;
  }
}
/* Services page end */

/* Services single page */
.page h1 {
  color: var(--accent);
  text-transform: uppercase;
}

.services_single_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.service_single_item h4 {
  color: var(--accent);
}

.service_single_item {
  background-color: var(--black);
  color: white;
  font-size: 20px;
  padding: 27px 30px;
  position: relative;
}

.services_single_item_icon {
  position: absolute;
  top: 0;
  right: 0;
}

.services_text {
  position: relative;
  z-index: 1;
}

.services_single_item_icon img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(93%) saturate(4454%)
    hue-rotate(351deg) brightness(63%) contrast(88%);
  height: 160px;
}

.services_item_link {
  display: block;
  margin-left: auto;
  margin-top: 10px;
}

.services_item_link img {
  filter: brightness(0) saturate(100%) invert(35%) sepia(6%) saturate(10%)
    hue-rotate(54deg) brightness(95%) contrast(81%);
}

.advantages {
  background-color: var(--accent);
  color: white;
  padding: 90px 0 100px 0;
}

.advantages h2 {
  margin-bottom: 40px;
  color: white;
}

.advantages h4 {
  color: white;
  text-transform: uppercase;
}

.advantages_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 150px;
  row-gap: 40px;
}

.benefits {
  padding: 90px 0 100px 0;
}

.benefits h2 {
  margin-bottom: 40px;
}

.benefits_list {
  counter-reset: step-counter; /* починаємо рахунок */
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  gap: 40px;
}

.benefits_item {
  position: relative;
  padding-left: 100px;
}

.benefits_item::before {
  counter-increment: step-counter; /* додаємо крок */
  content: counter(step-counter, decimal-leading-zero); /* 01, 02, 03... */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  font-weight: 700;
  /* color: #000; */
  font-family: "D-DIN", sans-serif;
  font-weight: 700;
  font-size: clamp(
    84px,
    calc(84px + (126 - 84) * ((100vw - 320px) / (2440 - 320))),
    126px
  );
  line-height: 1;
}

@media (hover: hover) and (pointer: fine) {
  .service_single_item:hover .services_single_item_icon img {
    filter: brightness(0) saturate(100%) invert(89%) sepia(18%) saturate(7437%)
      hue-rotate(300deg) brightness(105%) contrast(90%);
  }

  .service_single_item:hover .services_item_link img {
    filter: unset;
  }

  .service_single_item:hover h4 {
    color: #fff;
  }

  .service_single_item:hover {
    background-color: var(--accent);
    color: white;
  }
}

.service_single_item:active {
  background-color: var(--accent);
}

.service_single_item:active::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #f33a3d59;
  backdrop-filter: blur(3px);
  z-index: 10;
}

.goals {
  background-color: var(--black);
  color: white;
  padding: 90px 0 100px 0;
}

.goals h2 {
  color: #fff;
}

.goals_item {
  margin-bottom: 100px;
}

@media (max-width: 2440px) {
  .services_single_item_icon img {
    height: calc(75px + (160 - 75) * ((100vw - 320px) / (2440 - 320)));
  }

  .advantages_content {
    column-gap: calc(50px + (150 - 50) * ((100vw - 320px) / (2440 - 320)));
  }

  .advantages,
  .benefits,
  .goals {
    padding-top: calc(30px + (90 - 30) * ((100vw - 320px) / (2440 - 320)));
    padding-bottom: calc(30px + (100 - 30) * ((100vw - 320px) / (2440 - 320)));
  }

  .goals_item {
    margin-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (2440 - 320)));
  }
}

@media (max-width: 768px) {
  .services_single_content {
    grid-template-columns: 1fr;
  }

  .services_text {
    display: none;
  }

  .service_single_item {
    display: flex;
    align-items: center;
  }

  .service_single_item h4 {
    margin-bottom: 0;
  }

  .services_single_item_icon {
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
  }

  .service_single_item:active h4 {
    color: white;
  }

  .service_single_item:active::before {
    content: none;
  }

  .service_single_item:active .services_single_item_icon img {
    filter: brightness(0) saturate(100%) invert(89%) sepia(18%) saturate(7437%)
      hue-rotate(300deg) brightness(105%) contrast(90%);
  }

  .service_single_item:active .services_item_link img {
    filter: unset;
  }

  .advantages_content,
  .benefits_list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 577px) {
  .benefits_item {
    padding-left: 80px;
  }
}
/* Services single page end */

/* Services sub page */
.services_sub_page {
  position: relative;
}

.btn_more {
  display: none;
}

.services_sub_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons_bg_wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

.sub_icon_bg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.sub_icon_bg.left {
  left: 0;
  top: 300px;
}

.sub_icon_bg.right {
  right: 5%;
  top: 650px;
  transform: scale(1.5);
}

@media (max-width: 1600px) {
  .sub_icon_bg.left {
    left: 0;
  }
}

@media (max-width: 1440px) {
  .sub_icon_bg.right {
    right: -50px;
  }
  .sub_icon_bg.left {
    left: -50px;
  }
}

@media (max-width: 768px) {
  .sub_icon_bg {
    display: none;
  }

  .services_sub_wrapper {
    position: relative;
  }

  .services_sub {
    max-height: 1300px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .services_sub_wrapper.open .services_sub {
    max-height: 10000px;
  }

  .btn_more {
    display: none;
    margin: 20px auto;
    border: none;
    color: var(--accent);
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .btn_more.show {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
/* Services sub page end */

/* Cases page*/
.cases_page .works{
  background-color: white;
  padding-top: 50px;
}

.services_list{
  padding: 70px 0 100px 0;
}

.services_list .services_title h2{
  font-size: clamp(
    50px,
    calc(50px + (70 - 50) * ((100vw - 320px) / (2440 - 320))),
    70px
  );
}

.services_list .services_title h4{
  color: var(--accent);
}

.services_list .service_page_item{
  grid-template-rows: minmax(150px, auto) 20px;
}

.services_list .service_page_item .services_title{
  margin-bottom: 0;
}

.cases_page .btn_lets_talk{
  display: block;
  margin-left: auto;
  margin-bottom: -30px;
}

@media (hover: hover) and (pointer: fine) {
  .service_page_item:hover .services_title h4{
    color: white;
  }  
}

.service_page_item:active .services_title h4{
  color: white;
}

@media (max-width: 991px){
  .cases_page .works{
    padding-top: 30px;
  }
}

@media (max-width: 768px){
  .cases_page .works{
    padding-top: 10px;
  }
}
/* Cases page end */
