* {
	margin: 0;
	padding: 0;
	border: 0;
	/* додаємо за потреби */
	transition: all 0.3s ease 0s;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

nav,
header,
footer,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1.2;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
textarea,
select,
button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	color: inherit;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
  outline: none;
	-webkit-tap-highlight-color: transparent;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* додати за потреби */
	line-height: 1.2;
	font-size: inherit;
	font-weight: 400;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
	height: auto;
}